/.idea
/.vs
/Library
/Logs
/obj
/Packages
/ProjectSettings
/UserSettings
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Combat System Course.sln
/Combat System Course.sln.DotSettings.user
*.meta
*.asset

/Assets/*
!/Assets/Scripts/
!/Assets/Util/

/Temp